@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('Roboto.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
}

body::-webkit-scrollbar {
    display: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/****************/
/*   Elements   */
/****************/

body,html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #F5F5F5;
  color: #424242;
  -webkit-align-items: center;
  -webkit-font-smoothing: antialiased;
  -webkit-justify-content: center;
  -webkit-user-select: none;
}

body, input {
  font-family: 'Avenir', 'NUNITO', 'Museo Sans', 'Muli', 'helvetica neue', helvetica, arial, sans-serif;
}

a, button {
outline: none;
}

button {
  font-size: 1.5vw;
  appearance: none;
  -webkit-appearance: none;
}

label {
  cursor: pointer;
}

/*updates list
ul {
  list-style-position: inside;
  font-size:0.8vw;
  margin-top: 0.2vw;
  width:25vw;
  padding-left: 1vw;
}*/

#update-bubble {
  display: none;
  position: absolute;
  top: 55px;
  left: 10px;
  width: 230px;
  height: 56px;
  padding: 0;
  background: #FFFFFF;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  border: #000000 solid 2px;
}

#update-bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 9px 13px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 2;
  top: -12px;
  left: 11px;
}

#update-bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 10px 13px;
  border-color: #000000 transparent;
  display: block;
  width: 0;
  z-index: 2;
  top: -15px;
  left: 10px;
}

#update-bubble-text {
  -webkit-user-select: none;
  font-size: 1rem;
  line-height: 1;
  padding-top:10px;
  padding-left:10px;
  padding-bottom: 10px;
  color: #000000;
  cursor:default;
}


.timer-value {
  display: inline-block;
}
/*******************/
/*  Timer Classes  */
/*******************/

#timerTitle {
  top: -webkit-calc(50vh - 6vw - 30px);
  left: 50vw;
  transform: translate(-50%, -35%);
  font-size: 4vw;
  position: fixed;
  font-family: 'Roboto';
}

#decimal-number {
  -webkit-user-select: none;
  position: relative;
  margin-bottom: 2.3vw;
  margin-left: -1.5vw;
  line-height: 1;
  cursor: default;
  white-space: nowrap;
  font-family: 'Roboto';
}

.decimal-timer {
  font-size: 3vw;
}

.timerContainer {
  position: fixed;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timerUnitContainer {
  display: inline-block;
  vertical-align: middle;
}

.timerUnitContainer + .timerUnitContainer {
  margin-left: 1.5vw;
}

.timer, .clock, .timeup {
  -webkit-user-select: none;
  position: relative;
  margin-bottom: .4vw;
  font-size: 6vw;
  line-height: 1;
  cursor: default;
  white-space: nowrap;
  font-family: 'Roboto';
}

.clock {
  margin-top:-.5vw;
  font-size: 7vw;
}

.timer-label {
  -webkit-user-select: none;
  text-align: center;
  flex-basis: 20px;
  flex-grow: 1;
  position: relative;
  margin: 0 auto;
  font-size: 1.5vw;
  font-weight: bold;
  line-height: 1;
  cursor: default;
}

#white-timer-clock, #white-timeup {
  text-shadow: white 0 0 10px;
}

#black-timer-clock, #black-timeup {
  text-shadow: black 0 0 10px;
}

.blackText {
  text-shadow: white 0 0 10px;
}

.whiteText {
  text-shadow: black 0 0 10px;
}

.titleTimerWhite {
  text-shadow: white 0 0 10px;
}

.timerTitleBlack {
  text-shadow: black 0 0 10px;
}

/*******************/
/*  Life Chapters  */
/*******************/

.pie {
  float: left;
  width: 1.9vw;
  height: 1.9vw;
  margin: 2.5px;
}

.circle {
  float: left;

  width: 1.9vw;
  height: 1.9vw;
  box-sizing: border-box;
  margin: 2.5px;
  border: solid transparent;
  border-radius: 50%;

  background-color: #424242;
}

/*******************/
/* Menu Button     */
/*******************/

#menu-button {
  position: fixed;
  left: 15px;
  top: 15px;
  cursor: pointer;
}

.WhiteMenu svg path {
  fill: #FFFFFF;
}

.WhiteMenu:hover svg path {
  fill: #A1A1A1;
}

.WhiteMenu div {
  background: #FF1744;
}

.WhiteMenu:hover div {
  background: #B71C1C;
}

.BlackMenu svg path {
  fill: #212121;
}

.BlackMenu:hover svg path {
  fill: #9E9E9E;
}

.BlackMenu div {
  background: #D50000;
}

.BlackMenu:hover div {
  background: #FF1744;
}

#updateBadge {
  display: none;
  position: absolute;
  top: 4px;
  right: 1px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 25px;
}
